{% extends "coreapp/base.html" %}
{% load static %}

{% block title %}
Resultados da Busca - BuscarFilmes
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'coreapp/resultados.css' %}">
{% endblock %}

{% block content %}
<h2>Resultados da Busca</h2>

{% if filmes %}
    <ul class="lista-filmes">
        {% for filme in filmes %}
            {% if filme.poster_url %}
                <li class="filme-item">
                    <img src="{{ filme.poster_url }}" alt="Poster de {{ filme.titulo }}" class="poster">
                    <div class="info-filme">
                        <h2>{{ filme.titulo }}</h2>
                        <a href="/filme/{{ filme.id }}/" class="btn-mais-info">Mais informações</a>
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% else %}
    <p>Nenhum filme encontrado.</p>
{% endif %}
{% endblock %}
